*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('banner.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
#hero-content {
    color: white;
    text-align: left;
    padding: 60px 0 60px 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}